@page "/camera"
@page "/camera/{EntityId:int}"
@inherits DetailsPageBase<Camera, CameraHistory>

<PageTitle>@TabTitle</PageTitle>

@if (Entity == null)
{
    <MudProgressCircular Indeterminate="true">Loading...</MudProgressCircular>
}
else
{
    <MudGrid>
        <MudItem xs="12" sm="4">
            <h3>@PageTitle</h3>
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Make" @bind-Value="Entity.Make" For="@(() => Entity.Make)" />
                    <MudTextField Label="Model" @bind-Value="Entity.Model" For="@(() => Entity.Model)" />
                    <MudTextField Label="Serial" @bind-Value="Entity.Serial" For="@(() => Entity.Serial)" />
                </MudCardContent>
                <MudCardActions>
                    <span class="ml-auto">
                        <MudButton OnClick="RedirectToGrid" Variant="Variant.Filled" Color="Color.Error">Cancel</MudButton>
                        <MudButton OnClick="Save" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
                    </span>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="8">
            <h3>History</h3>
            <MudCard>
                <MudDataGrid Items="@EntityHistories" Striped>
                    <Columns>
                        <PropertyColumn Property="x => x.Make" Title="Make" />
                        <PropertyColumn Property="x => x.Model" Title="Model" />
                        <PropertyColumn Property="x => x.Serial" Title="Serial" />
                        <PropertyColumn Property="x => x.PeriodStart" Title="Period Start" />
                        <PropertyColumn Property="x => x.PeriodEnd" Title="Period End" />
                    </Columns>
                </MudDataGrid>
            </MudCard>
        </MudItem>
    </MudGrid>
}
